.sajaratun{
	color:black;
	font-family: verdana;
	font-size: 100%;
}
p{
	color:black;

}
h1{
	text-align: center;
	font-size: 200%;
}
body{
	background-color: white;
}
footer{
	text-align: center;
	font-size: 100%;
}